.container {
  height: 100vh;
  position: relative;
  width: 100%;
}

.intro, .logo {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.intro p {
  color: rgb(75, 213, 238);
  font-size: 1.25rem;
}

.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 18rem;
}